{% extends 'Proyecto/base.html' %}


{% block registro %}
<li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'registro' %} ">Registrate</a></li>
{% endblock registro %}

{% block cuerpo_registro %}
    
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autentificaciones</title>
</head>
<body> <div class="container px-4 px-lg-5 my-5">
    <form method="post">
    
        {% csrf_token %}
      <br><p>{{registro.as_p}}
      <input type="submit" value="Registrate"></p>

    </form></div>
</body>
</html> 
{% endblock cuerpo_registro %}
        