{% extends 'Proyecto/base.html' %}


{% block sobreMi %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p> Mi nombre es Daiana, tengo 28 años y cree este proyecto para poder aprender a utilizar Django y Python,
    estoy agradecida a todo el grupo Coder por la buena onda de todos y cada uno de los profes y tutores</p>
</body>
</html>
{% endblock sobreMi %}
    