{% extends 'Proyecto/base.html' %}

{% block login %}

{% endblock login %}

{% block cuerpo_login %}

 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autentificaciones</title>
</head>
<body>
     {% if errores %}
       
       {% for error in errores  %}
        <p style="color: red">{{error}} </p>
       {% endfor %}
      {% endif %} 
   
      <h5><p> 
     Bienvenidos!!       
   <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="login"></h5> </p>
    

</form> 
</body>
</html>
{% endblock cuerpo_login %}


    



